<footer class="footer">
    <div class="details" id="footer-details">
        <img src={{track.thumbnail}} draggable="false" id="thumbnail" [cdkContextMenuTriggerFor]="TrigArea">
        <p>
            <img src={{track.thumbnail}} draggable="false" id="thumbnail-blur">
        </p>
        <button 
            class="like" 
            id="item-likebtn" 
            (click)="OnLikeClick($event)" 
            [ngClass]="{'liked': Player.currentTrack.is_liked, 'like': !Player.currentTrack.is_liked}">
            ❤
        </button>
        <div class="title" id="footer-title">
            <h1>
                {{track.title}}
            </h1>
        </div>
    </div>
    <div class="player-controls" id="player-controls">
        <p id="footer-current_time">
            {{Player.stringTime}}
        </p>
        <input #seeker type="range" min="0" max="100" value="0" class="slider" id="time-seeker" (input)="OnSeek(seeker.value)">
        <p id="footer-duration">
            {{track.duration}}
        </p>
        <button class="back" (click)="Player.Back()" id="player-controls-buttons">◀◀</button>
        <button class="playpause" (click)="PlayPause()">
            <div id="player-controls-playpause"></div>
        </button>
        <button class="next" (click)="Player.Next()" id="player-controls-buttons">▶▶</button>
    </div>
    <div class="controls">
        <input type="range" min="0" max="100" value="60" class="slider" id="volume">
    </div>
</footer>

<ng-template #TrigArea>
    <div cdkMenu class="ContextMenu">
        <button cdkMenuItem class="ContextMenu-Item" (click)="Player.RemoveTrack(track)" (contextmenu)="false">Remove</button>
        <button cdkMenuItem 
        class="ContextMenu-Item" 
        (contextmenu)="false" 
        [cdkMenuTriggerFor]="Playlist">
            Add to playlist<span class="ContextMenu-Span">▸</span>
        </button>
        <div class="ContextMenu-Separator"></div>
        <button cdkMenuItem class="ContextMenu-Item" (contextmenu)="false">Share</button>
    </div>
</ng-template>

<ng-template #Playlist>
    <div cdkMenu class="ContextMenu">
        <button cdkMenuItem class="ContextMenu-Item" (contextmenu)="false">Playlist</button>
        <button cdkMenuItem class="ContextMenu-Item" (contextmenu)="false">Awesome!</button>
        <button cdkMenuItem class="ContextMenu-Item" (contextmenu)="false">Music</button>
    </div>
</ng-template>